[submodule "aryamanblog/public"]
	path = aryamanblog/public
	url = https://github.com/Gupta-Aryaman/gupta-aryaman.github.io.git
[submodule "aryamanblog/themes/PaperMod"]
	path = aryamanblog/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
